---
import Section from "./Section.astro";

--- 
<Section>
    <div class="buyLess">
        <div class="scene">
            <img src="/img/buyLess_boy.svg" data-depth="0.6" alt="">
        </div>
        <div class="buyLess__title uppercase">Buy less, buy better</div>
    </div>
</Section>

<style is:global lang="scss">
    .buyLess{
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: fluid(80px, 160px);
        &__title{
            font-size: fluid(68px, 100px);
            line-height: 1.3;
            text-align: center;
        }
        img, .scene{
            position: absolute;
            top: -116px;
            left: 32%;
            width: fluid(140px, 152px);
            height: auto;
        }
    }

    @media (max-width: 992px) {
        .buyLess{
            img{
                left: 25%;
            }
        }
    }
    @media (max-width: 768px) {
        .buyLess{
            &__title{
                font-size: 52px;
            }
            img{
                width: 120px;
                top: -100px;
            }
        }
    }
</style>