---
import Button from "./Button.astro";
import Section from "./Section.astro";

const menuCol1: string[] = [
  "Каталог",
  "iPhone",
  "iPad",
  "AirPods",
  "Mac",
  "Watch",
  "Аксессуары",
  "Dyson",
  "Vision Pro",
  "Android",
];

const menuCol2: string[] = [
  "О компании",
  "Доставка и опалата",
  "traid-in",
  "Контакты",
  "Блог",
];

const menuCol3: string[] = ["Распродажа"];

const footerData: {title: string, menuCol: string[]}[] = [
  {
    title: 'SITEMAP',
    menuCol: [
      'Shop',
      'Meet us',
      'Our impact',
      'Gift cards',
      'FAQ',
      'Blog',
      'Contacts',
    ]
  },
  {
    title: 'SOCIAL',
    menuCol: [
      'Instagram',
      'Facebook',
      'Pinterest',
    ]
  },
  {
    title: 'CUSTOMER CARE',
    menuCol: [
      'Terms & Conditions',
      'Privacy Policy',
      'Delivery & return',
      'Track your order',
      'FAQ',
    ]
  },
]
---

<footer class="footer" id='footer'>
  <Section>
    <div class="footer__wrapper">
      <div class="footer__left">
        <h4 class="uppercase">subscribe to our mailing list<br> and get 15% off your first order</h4>
        <form class="footer__form">
          <input type="text" name="" id="" placeholder="Enter your email">
          <Button variant="submit">I’m in</Button>
        </form>
        <div class="footer__logo">
          <img src="/img/logo.svg" />
        </div>
        <div class="footer__copy">
          Tree House 2023 © All Rights reserved
        </div>
      </div>
      <div class="footer__nav">
        {footerData.map(({ title, menuCol }) => (
          <ul class="footer__menu">
            <h4>{title}</h4>
            {menuCol.map((item) => (
              <li><a href="#">{item}</a></li>
            ))}
          </ul>
        ))}
        <ul class="footer__menu">
          <h4>PAYMENT METHODS</h4>
          <li class="icon-paypal"></li>
          <li class="icon-visa"></li>
          <li class="icon-Google_Pay"></li>
          <li class="icon-apple-pay"></li>
          <li class="icon-Afterpay"></li>
          <li class="icon-ShopPay"></li>
        </ul>
      </div>
    </div>
  <Section/>
  <div class="footer__prlx1 scene">
    <img src="/img/footer_prlx1.svg" alt="">
  </div>
  <div class="footer__prlx2 scene">
    <img src="/img/footer_prlx2.svg" alt="">
  </div>
  <div class="footer__prlx3 scene">
    <img src="/img/footer_prlx3.svg" alt="">
  </div>
  <a href="#mainB" class="footer__scrollUp icon-arrow">
    UP
  </a>
</footer>

<style is:global lang="scss">
  .footer {
    position: relative;
    order: 20;
    background-color: $green;
    color: white;
    padding-top: fluid(36px, 45px);
    padding-bottom: fluid(36px, 45px);

    &__wrapper{
      display: flex;
      justify-content: space-between;
      gap: 80px;
    }

    &__scrollUp{
      position: absolute;
      display: flex;
      align-items: center;
      right: 104px;
      bottom: 34px;
      cursor: pointer;
      &::after{
        content: '';
        position: absolute;
        left: -10%;
        top: -33%;
        width: 137%;
        height: 50px;
        background-image: url(/img/icon/tabWhite.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
      &::before{
        display: block;
        font-size: 30px;
        rotate: -90deg;
      }
    }

    &__form{
      display: flex;
      margin-bottom: fluid(30px, 80px);
      input{
        width: 70%;
        border: 1px solid rgba(255, 255, 255, .5);
        background-color: transparent;
        color: rgba(255, 255, 255, .5);
        padding: 20px;
        padding-right: 38px;
        border-radius: 8px 0 0 8px;
        &::placeholder{
          color: rgba(255, 255, 255, .5);
        }
      }
      .button{
        width: 30%;
        border-radius: 0 8px 8px 0;
      }
    }
    &__left{
      width: 30%;
      h4{
        max-width: 273px;
        margin-bottom: 20px;
      }
    }
    &__icon {
      font-size: 30px;
      width: fit-content;
    }
    &__prlx{
      &1, &2, &3{
        position: absolute;
      }
      &1{
        top: 77px;
        right: 0;
      }
      &2{
        bottom: 0;
        left: 32%;
      }
      &3{
        top: 0;
        left: 0;
      }
    }
    & a:not(&__button) {
      transition: color 0.38s ease-in-out;
      // &:hover {
      //   color: $color-text-purple-light;
      // }
    }

    &__button {
      border-radius: 999px;
      color: white;
      font-size: fluid(14px, 16px);
      text-align: center;
      padding: fluid(11px, 12px) fluid(30px, 50px);
      width: fit-content;
      font-weight: 400;
      transition: color 0.38s ease-in-out;
      transition-property: color, background-color;
      display: inline-flex;
      border: 1px solid white;

      &:hover {
        color: black;
        background-color: white;
      }
    }

    &__nav {
      width: 60%;
      display: flex;
      justify-content: center;
      gap: fluid(40px, 60px);
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: fluid(8px, 10px);
      [class^="icon-"]{
        font-size: 20px;
      }
      h4{
        margin-bottom: 24px;
        text-transform: uppercase;
      }
      li{
        text-transform: initial;
      }
    }

    &__logo {
      margin-bottom: 20px;
      img{
        width: 129px;
        object-fit: contain;
      }
    }

    &__copy {
      grid-area: copy;
      align-self: center;
      font-size: fluid(14px, 18px);
      font-weight: 300;
    }

    &__dev {
      grid-area: dev;
      align-self: center;
      display: flex;
      align-items: center;
      font-size: fluid(14px, 16px);
      padding-right: fluid(12px, 22px);
      font-weight: 300;
      gap: 1.5em;
      letter-spacing: 0.06em;
      justify-self: end;
    }

    &__contact {
      grid-area: contact;
      border-left: 1px solid white;
      grid-row: 1 / -1;
      padding-left: fluid(30px, 60px);
      display: grid;
      row-gap: fluid(40px, 53px);
      grid-auto-rows: max-content;
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &__questions {
      display: flex;
      flex-direction: column;
    }

    &__text {
      font-size: fluid(14px, 16px);
    }

    &__map {
      font-size: fluid(14px, 16px);
      text-decoration: underline;
      width: fit-content;
    }

    &__time {
      font-size: fluid(14px, 16px);
      display: inline-flex;
      gap: 0.5em;

      span:not(:last-child) {
        &::after {
          content: "|";
          margin-left: 0.5em;
        }
      }
    }

    &__phone {
      font-weight: 600;
      font-size: fluid(20px, 28px);
      line-height: 1;
      margin-bottom: 5px;
      width: fit-content;
    }

    &__email {
      font-weight: 400;
      font-size: fluid(14px, 16px);
      margin-bottom: 16px;
      width: fit-content;
    }

    &__social {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    &__social &__text {
    }
  }

  @media (max-width: 1400px) {
    .footer {
      padding-bottom: 20px;
      &__button {
      }

      &__container {
        row-gap: 1rem;
        grid-template-columns: auto 1fr minmax(auto, fluid(350px, 506px));
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "nav nav  contact"
          "logo logo contact"
          "copy dev contact";
      }

      &__nav {
      }

      &__menu {
      }

      &__logo {
      }

      &__copy {
      }

      &__dev {
      }

      &__contact {
      }

      &__column {
      }

      &__questions {
      }

      &__text {
      }

      &__time {
      }

      &__phone {
      }

      &__email {
      }

      &__social {
      }
    }
  }

  @media (max-width: 992px) {
    .footer {
      &__button {
      }

      &__container {
        grid-template-columns: auto 1fr minmax(auto, fluid(350px, 506px));
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "nav nav  contact"
          "logo logo contact"
          "copy copy contact"
          "dev dev contact";
      }

      &__nav {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto 1fr;
        row-gap: 8px;
      }

      &__menu {
        &:first-child {
          grid-row: span 2;
        }
      }

      &__logo {
      }

      &__copy {
      }

      &__dev {
        justify-self: start;
        margin-top: -10px;
      }

      &__contact {
      }

      &__column {
      }

      &__questions {
      }

      &__text {
      }

      &__time {
      }

      &__phone {
      }

      &__email {
      }

      &__social {
      }
    }
  }

  @media (max-width: 768px) {
    .footer {
      &__button {
      }

      &__container {
        justify-content: center;
        row-gap: 25px;
        grid-template-columns: 100%;
        grid-template-rows: unset;
        grid-template-areas:
          "logo"
          "nav"
          "contact"
          "copy"
          "dev";
      }

      &__nav {
        margin: unset;
        justify-content: space-between;
        column-gap: 2rem;
        text-transform: unset;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, auto);
      }

      &__menu {
      }

      &__logo {
      }

      &__copy {
        line-height: 1.25;
        text-align: center;
      }

      &__dev {
        justify-self: center;
        margin-top: -15px;
        font-size: 16px;
      }

      &__contact {
        grid-row: unset;
        padding: unset;
        border: unset;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-top: 25px;
        padding-bottom: 25px;
        row-gap: 25px;
      }

      &__column {
        grid-column: span 2;
      }

      &__questions {
      }

      &__text {
      }

      &__time {
      }

      &__phone {
      }

      &__email {
      }

      &__social {
        grid-area: 1 / 2 / 2 / 3;
        line-height: 1;
        justify-self: end;
        gap: 10px;

        a {
          margin-left: auto;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .footer {
      &__button {
      }

      &__container {
        grid-template-columns: auto;
        justify-content: unset;
      }

      &__nav {
        justify-content: unset;
        column-gap: 30%;
        grid-template-columns: repeat(2, auto);
      }

      &__menu {
      }

      &__logo {
      }

      &__copy {
      }

      &__dev {
      }

      &__contact {
      }

      &__column {
        gap: 4px;
      }

      &__questions {
      }

      &__text {
      }

      &__time {
      }

      &__phone {
      }

      &__email {
        margin-bottom: 6px;
      }

      &__social {
      }
    }
  }
</style>

<script>
  let scrollUp = document.querySelector('footer__scrollUp');
  scrollUp?.addEventListener('click', (e) => {
    e.preventDefault();
    
    let href = scrollUp.getAttribute('href')?.substring(1);
    if(href){
      let scrollTarget = document.getElementById(href);
      let scrollTo = document.querySelector('.scrollto');
  
      if(scrollTo && scrollTo instanceof HTMLElement){
        let topOffset = scrollTo.offsetHeight;
        let elementPosition = scrollTarget?.getBoundingClientRect().bottom;
  
        if(elementPosition && topOffset){
          let offsetPosition = elementPosition - topOffset;
          window.scrollBy({
            top: offsetPosition,
            behavior: 'smooth'
          });
        }
      }
    }
  })
</script>
