---
import Burger from "./Burger.astro";


const upperMenu: string[] = [
  "Shop +",
  "Our team",
  "Our impact",
  "Gift card",
  "FAQ",
  "Journal",
  "Contacts",
];
---

<header class="header">
  <div class="header__wrapper">
    <img src="/img/logo.svg" alt="" class="logo">
    <nav class="header__navigation">
      <ul>
        {
          upperMenu.map(i => (
            <li>{i}</li>
          ))
        }
      </ul>
    </nav>
    <div class="header__search">
      <form class="header__form">
        <button type="submit" class="icon-find"></button>
        <div class="header__form-input">
          <input type="text" class="icon-find" placeholder="Search">
        </div>
      </form>
      <p>(CART 02)</p>
    </div>
    <Burger/>
  </div>
</header>

<style is:global lang="scss">
  .header {
    @include section;
    background-color: $green;
    &__wrapper{
      display: flex;
      align-items: center;
      grid-area: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__navigation{
      ul{
        display: flex;
        align-items: center;
        color: $white;
        gap: fluid(20px, 30px);
      }
    }
    &__form{
      display: flex;
      align-items: center;
      gap: 8px;
      width: 75px;
      &-input{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 1px;
          width: 100%;
          background-color: rgba(255, 255, 255, .3);
        }
        input{
          width: 100%;
          background-color: transparent;
          font-family: "Trial", sans-serif;
          &::placeholder{
            font-family: "Trial", sans-serif;
            color: $white;
          }
        }
      }
    }
    &__search{
      display: flex;
      align-items: center;
      color: $white;
      gap: 30px;
      p{
        text-transform: uppercase;
      }
    }
  }

  @media (max-width: 992px) {
    .header{
      &__navigation{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        transform: translateY(100%);
        transition: .3s ease-in-out;
        ul{
          position: relative;
          flex-direction: column;
          padding: 30px 40px;
          background-color: $green;
          border-radius: 25px 25px 0 0;
          z-index: 1;
          li{
            font-size: 22px;
          }
        }
        &.active{
          transform: translateY(0%);
        }
      }
    }
  }

</style>
