---
import Section from "./Section.astro";
import SwiperMainCard from "./SwiperMainCard.astro";


const swiperCard = [
    {
        img: '/img/swiperMain_1.png',
        title: 'Сozy chic for the playground',
        miniCard: [
            {
                img:'/img/swiperMain_mini1.png',
                title: 'T-shirt Hamra Trees Navy',
                sizes: [0, 1, 2, 3],
            },
            {
                img:'/img/swiperMain_mini2.png',
                title: 'T-shirt Hamra Trees Navy',
                price: '35.00',
            },
        ],
        swiper: true,
    },
    {
        img: '/img/swiperMain_2.png',
        title: 'Effortless Beach Style',
        miniCard: [
            {
                img:'/img/swiperMain_mini1.png',
                title: 'T-shirt Hamra Trees Navy',
                sizes: [0, 1, 2, 3],
            },
            {
                img:'/img/swiperMain_mini2.png',
                title: 'T-shirt Hamra Trees Navy',
                price: '35.00',
            },
        ],
        swiper: true,
    },
    {
        img: '/img/swiperMain_3.png',
        title: 'Effortless Beach Style',
        miniCard: [
            {
                img:'/img/swiperMain_mini3.png',
                title: 'T-shirt Hamra Trees Navy',
                sizes: [0, 1, 2, 3],
            },
            {
                img:'/img/swiperMain_mini4.png',
                title: 'T-shirt Hamra Trees Navy',
                price: '35.00',
            },
        ],
        swiper: true,
    },
    {
        img: '/img/swiperMain_4.png',
        title: 'Effortless Beach Style',
        miniCard: [
            {
                img:'/img/swiperMain_mini3.png',
                title: 'T-shirt Hamra Trees Navy',
                sizes: [0, 1, 2, 3],
            },
            {
                img:'/img/swiperMain_mini4.png',
                title: 'T-shirt Hamra Trees Navy',
                price: '35.00',
            },
        ],
        swiper: true,
    },
    {
        img: '/img/swiperMain_5.png',
        title: 'Effortless Beach Style',
        miniCard: [
            {
                img:'/img/swiperMain_mini3.png',
                title: 'T-shirt Hamra Trees Navy',
                sizes: [0, 1, 2, 3],
            },
            {
                img:'/img/swiperMain_mini4.png',
                title: 'T-shirt Hamra Trees Navy',
                price: '35.00',
            },
        ],
        swiper: true,
    },
]
---
<div class="swiperMain">
    <Section>
        <h4 class="uppercase">your perfect match</h4>
        <div class="swiperMain__title title">
            Shop the look
            <div class="swiperMain__navigation">
                <div class="swiperMain__prev swiper-button-prev icon-arrow"></div>
                <div class="swiperMain__next swiper-button-next icon-arrow"></div>
            </div>
        </div>
        <div class="swiperMain__swiper swiper">
            <div class="swiper-wrapper">
                {
                    swiperCard.map(card => (
                        <SwiperMainCard img={card.img} title={card.title} miniCard={card.miniCard} swiper={card.swiper}/>
                    ))
                }
            </div>
            <div class="swiperMain__pagination swiper-pagination"></div>
        </div>
    </Section>
    <div class="swiperMain__after">
        <div class="scene">
            <img src="/img/swiperMain_prlx.svg" alt=""/>
        </div>
    </div>
</div>

<style is:global lang="scss">
    .swiperMain{
        position: relative;
        margin-bottom: 260px;
        h4{
            margin-bottom: 16px;
        }
        &__navigation{
            display: flex;
            gap: 20px;
            align-items: center;
        }
        &__title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        &__next, &__prev{
            position: relative;
            background-color: $yellow;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            left: unset;
            right: unset;
            &::after{
                content: '';
                margin-top: 0;
            }
            &::before{
                font-size: 23px;
            }
        }
        &__prev{
            &::before{
                rotate: -180deg;
            }
        }
        &__after{
            position: absolute;
            left: 0;
            top: 50%;
            // translate: 0 -50%;
            width: 100%;
            height: 65%;
            background-color: #D9C7BB;
            z-index: -1;
            .scene{
                position: absolute;
                bottom: -103px;
            }
        }
        &__swiper{
            padding-bottom: 80px;
        }
        &__pagination{
            top: unset !important;
            left: 50% !important;
            translate: -50% 0;
            bottom: 0;
            max-width: 460px;
            background: #50735F4D;
            .swiper-pagination-progressbar-fill{
                background: $green;
            }
        }
    }
</style>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";

    var swiper = new Swiper(".swiperMain__swiper", {
        modules: [Navigation, Pagination],
        slidesPerView: 3.2,
        spaceBetween: 40,
        pagination: {
            el: ".swiperMain__pagination",
            type: "progressbar",
        },
        navigation: {
            nextEl: ".swiper-button-next", 
            prevEl: ".swiper-button-prev",
        },
    });
</script>